<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">   
        <ul class="navbar-nav">
            {% if 'aid' not in request.session %}
            <li class="nav-item">
                <a class="nav-link" href="welcome">Home</a>
            </li> 
            {% endif %}
            
            {% if 'aid' in request.session %}
            <li class="nav-item">
                <a class="nav-link" href="admin">Admin page</a>
            </li> 
            {% endif %}
            
        </ul>
        {% if 'aid' in request.session %}
            <button class="btn bg-white ml-auto"><a href="alogout" style="color:black;">Logout</a></button>
        {% endif %}
    </nav>
    {% block content%}
   {% endblock  %}
</body>
</html>